<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display</title>
</head>
<body>
    {% block content %}
    <h3 align="center">Display</h3>
    {% csrf_token %}
    <table align="center" border="2px black" cellpadding="10">
        <tr>
            <th>USN</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        {% for d in elist %}
        <tr>
            <td>{{ d.USN }}</td>
            <td>{{ d.Name }}</td>
            <td>{{ d.Address }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
</body>
</html>