<!DOCTYPE html>
<html lang="en" xmlns:align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <form action=display>
        <h3 style="text-align: center">Alumni Registration</h3>
        <table align="center" border="2px black" cellpadding="10">
            <tr>
                <td><label>USN: </label></td>
                <td><input type="text" name="usn"/></td>
            </tr>
            <tr>
                <td><label>Name: </label></td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td><label>Address: </label></td>
                <td><input type="text" name="addr"/></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="Submit"/></td>
            </tr>
        </table>
    </form>
</body>
</html>